<nav class="navbar" style="height: 4rem; margin-top: 0%;">
    <div class="container position-relative d-flex">

        <a class="navbar-brand me-auto" (click)="goBack()">
            <img src="https://img.icons8.com/?size=40&id=yiR4rPf7BGje&format=png&color=000000" width="30" height="24"
                alt="Back Button">
        </a>

        <a class="navbar-brand position-absolute top-50 start-50 translate-middle">
            <span>Device settings</span>
        </a>

    </div>
</nav>

<div class="container">
    <div class="card mt-4">
        <div class="row">
            <div class="d-flex align-items-center justify-content-between mt-3">
                <p style="padding-left: 1rem;">Device Icon</p>
                <div class="d-flex align-items-center gap-2">
                    <img src="https://img.icons8.com/?size=40&id=117108&format=png&color=000000" alt="">
                    <img src="https://img.icons8.com/?size=25&id=98967&format=png&color=BEBDC1" alt="">
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="d-flex align-items-center justify-content-between mt-3">
                <h6 style="padding-left: 1rem;">Device Name</h6>
                <div class="d-flex align-items-center " style="padding-right: 1rem;">
                    <span>My Device</span>
                    <img src="https://img.icons8.com/?size=25&id=98967&format=png&color=BEBDC1" alt="">
                </div>
            </div>
        </div>
        <hr>
        <div class="row mb-3">
            <div class="d-flex align-items-center justify-content-between mt-3">
                <h6 style="padding-left: 1rem;">Location</h6>
                <div class="d-flex align-items-center" style="padding-right: 1rem;">
                    <span>ground</span>
                    <img src="https://img.icons8.com/?size=25&id=98967&format=png&color=BEBDC1" alt="">
                </div>
            </div>
        </div>
    </div>


    <!-- <br> -->

    <div class="card mt-4">
        <div class="row">
            <div class="d-flex align-items-center justify-content-between mt-3">
                <p style="padding-left: 1rem;">Device Info</p>
                <div class="d-flex align-items-center gap-2" style="padding-right: 1rem;">
                    <!-- <img src="https://img.icons8.com/?size=40&id=117108&format=png&color=000000" alt=""> -->
                    <img src="https://img.icons8.com/?size=25&id=98967&format=png&color=BEBDC1" alt="">
                </div>
            </div>
        </div>
        <hr>
        <div class="row mb-3">
            <div class="d-flex align-items-center justify-content-between mt-3">
                <h6 style="padding-left: 1rem;">Firmware Update</h6>
                <div class="d-flex align-items-center " style="padding-right: 1rem;">
                    <!-- <span>My Device</span> -->
                    <img src="https://img.icons8.com/?size=25&id=98967&format=png&color=BEBDC1" alt="">
                </div>
            </div>
        </div>

    </div>
</div>
<br>


<div class="container">
    <button type="button"
        class="btn btn-outline-danger ">
        Remove
    </button>
</div>