<div class="container mt-4">
    <!-- <div class="car"> -->
        <div class="row">
            <div class="col-2">
                <img class="add-icon-user" src="https://img.icons8.com/?size=100&id=7820&format=png&color=000000" alt="">
            </div>
            <div class="col user-body">
                <h6 class="username">{{userName}}</h6>
                <p class="add-body mt-2">{{email}}</p>
                <a class="Account" href="#">View Account</a>
            </div>
        </div>
    <!-- </div> -->

    <div class="card mt-2 mb-2">
        <div class="row">
            <div class="col-2">
                <img class="add-icon" src="https://img.icons8.com/?size=100&id=36725&format=png&color=000000" alt="">
            </div>
            <div class="col">
                <h6 class="add-header">Harmony Care</h6>
                <p class="add-body">Subscribe to enjoy unlimited features </p>
            </div>
        </div>
    </div>
    <p>Devices</p>
    <div class="card">
        <div class="row">
            <div class="col-2">
                <img class="add-icon" src="https://img.icons8.com/?size=100&id=39318&format=png&color=000000" alt="">
            </div>
            <div class="col">
                <h6 class="add-header">Firware Update</h6>
                <p class="add-body">Ampl-Tech enabled devices</p>
            </div>
        </div>
    </div>

    <div class="card mt-2">
        <div class="row">
            <div class="col-2">
                <img class="add-icon" src="https://img.icons8.com/?size=100&id=ZW2vgTIQ1bkh&format=png&color=000000" alt="">
            </div>
            <div class="col">
                <h6 class="add-header">Scan QR Code</h6>
                <p class="add-body">Ampl-Tech enabled devices</p>
            </div>
        </div>
    </div>
</div>