.add-icon{
    height: 40px;
    margin: 10px;
    padding: 2px;
}
.add-icon-user{
    height: 60px;
    margin: 25px 10px 10px 10px;
    padding: 2px;
}
.user-body
{
    margin-left: 1rem;
}
.add-header{
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

.add-body{
    font-size: 16px;
    margin-top: -10px;
    margin-bottom: 10px;
}

.Account
{
    margin-top: 0;
    text-decoration: none;
}
