<nav class="navbar" style="background-color: rgb(255, 253, 253); height: 4rem; margin-top: 0%; margin-bottom: 3rem;">
    <div class="container">
        <a class="navbar-brand" (click)="goBack()">
            <img src="https://img.icons8.com/?size=40&id=yiR4rPf7BGje&format=png&color=000000" width="30" height="24">
        </a>
        <a class="navbar-brand" >
            <img src="https://img.icons8.com/?size=100&id=98963&format=png&color=ffffff" width="30" height="30" alt="Home Icon">
        </a>
    </div>
</nav>

<div class="container">
    <h1>Add devices via:</h1>
    <div class="card">
        <div class="row">
            <div class="col-2">
                <img class="add-icon" src="https://img.icons8.com/?size=100&id=97842&format=png&color=000000" alt="">
            </div>
            <div class="col">
                <h6 class="add-header">Bluetooth</h6>
                <p class="add-body">Find bluetooth devices</p>
            </div>
        </div>
    </div>
    <div class="card mt-2" >
        <div class="row">
            <div class="col-2">
                <img class="add-icon" src="https://img.icons8.com/?size=100&id=zCOZEwlXG6ry&format=png&color=000000" alt="">
            </div>
            <div class="col">
                <h6 class="add-header">Enter Manually</h6>
                <p class="add-body">Manually enter a key</p>
            </div>
        </div>
    </div>
    <div class="card mt-2">
        <div class="row">
            <div class="col-2">
                <img class="add-icon" src="https://img.icons8.com/?size=100&id=g1auxTeG99mQ&format=png&color=000000" alt="">
            </div>
            <div class="col">
                <h6 class="add-header">WiFi</h6>
                <p class="add-body">Connect to a local hotspot</p>
            </div>
        </div>
    </div>
</div>