<nav class="navbar" style="background-color: rgb(0, 0, 0); height: 4rem; margin-top: 0%; margin-bottom: 1rem;">
    <div class="container">
        <a class="navbar-brand" (click)="goBack()">
            <img src="https://img.icons8.com/?size=40&id=yiR4rPf7BGje&format=png&color=ffffff" width="30" height="24">
        </a>
        <a class="navbar-brand" >
            <img src="https://img.icons8.com/?size=100&id=98963&format=png&color=ffffff" width="30" height="30" alt="Home Icon">
        </a>
    </div>
</nav>

<div class="container">
    <h1>Add devices to Harmony</h1>
    <div class="card">
        <div class="row">
            <div class="col-2">
                <img class="add-icon" src="https://img.icons8.com/?size=100&id=59869&format=png&color=000000" alt="">
            </div>
            <div class="col">
                <h6 class="add-header">Scan QR Code</h6>
                <p class="add-body">This is where pet-related content will go.</p>
            </div>
        </div>
    </div>
    <div class="card mt-2">
        <div class="row">
            <div class="col-2">
                <img class="add-icon" src="https://img.icons8.com/?size=100&id=7695&format=png&color=000000" alt="">
            </div>
            <div class="col">
                <h6 class="add-header">Search for device</h6>
                <p class="add-body">This is where pet-related content will go.</p>
            </div>
        </div>
    </div>
    <div class="card mt-2">
        <div class="row">
            <div class="col-2">
                <img class="add-icon" src="https://img.icons8.com/?size=100&id=12567&format=png&color=000000" alt="">
            </div>
            <div class="col">
                <h6 class="add-header">Link apps or services</h6>
                <p class="add-body">This is where pet-related content will go.</p>
            </div>
        </div>
    </div>
</div>