.add-icon{
    height: 40px;
    margin: 10px;
    padding: 2px;
}
.add-header{
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

.add-body{
    font-size: 16px;
    margin-top: -10px;
    margin-bottom: 10px;
}